.form {
    width: 700px;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  linear-gradient(#c1d516 2px, transparent 2px), linear-gradient(90deg, #c1d516 2px, transparent 2px), linear-gradient(#c1d516 1px, transparent 1px), linear-gradient(90deg, #c1d516 1px, #e5e5f7 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}